body {
	background-color: white;

}

.container{
	height: 98vh;  
	margin: 1vh auto 1vh auto;
  	background-color: #BBD7F2;

}

.right-quote {
	height: 30vh;
	/*background-image: url("../../images/blue_wall.jpg");*/
	background-color: #AA47FF;
	
	border-radius: 10%;
}

.right-quote p{
	height: 30vh;
	text-align: right;
}