
body { 
	/*https://css-tricks.com/perfect-full-page-background-image/*/
  	background: #DBBFA9 url(../../images/autumn.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	color: black;

}
h1{
	margin-top: 25px;
	font-size: 55px;
	
	font-family: 'Kaushan Script', cursive;
}

p {
	font-family: 'Handlee', cursive;
	font-size: 25px;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.quote-container {
	background: rgba(190, 235, 225, 0.07);
	padding: 10px; 
	margin-bottom: 25px;
	border-radius: 4%;

}

.percent-hundered{
	height: 100vh;
}

.percent-twenty {
	height: 15%;
}


.percent-thirty {
	height: 40%;
}

.btn-outline , .btn-outline:visited,  .btn-outline:focus{
	color: #652e12;
}

/*
.btn-outline:hover, .btn-outline:focus, .open>.dropdown-toggle.btn-outline {
	color: #998673;
}*/

.btn-outline:not([disabled]):hover {
    color: #998673;
  }
